<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form name="frameOption" ng-submit="createOptions()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>새로운 프레임옵션</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>

            <md-content>
                <md-input-container class="md-block">
                    <input ng-change="checkDuplicate()" ng-model="optionForm.name" name="name" type="text" required placeholder="거래처명">
                    <div class="hint" ng-if="isDup"><span style="color:red"> <b>{{optionForm.name}}</b> 거래처명은 이미 등록이 되어 있습니다. </span>
                    </div>
                    <div class="hint" ng-if="!isDup">{{optionForm.name}} 옵션이름은 사용하실수 있습니다. </div>
                    <div ng-messages="frameOption.name.$error" ng-if="!showHints">
                        <div ng-message="required">필수 항목 입니다.</div>
                    </div>
                </md-input-container>
            </md-content>


        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" ng-click="answer('created')">
                만들기
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                취소하기
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>