<md-whiteframe class="md-whiteframe-3dp"
               style="max-width:1024px"
               layout="column" layout-align="center center">

    <div layout="column" flex layout-align="start start" style="width:100%">
        <div class="md-title"> 제품관리 </div>
        <p class="md-body-1"> 아래의 버튼을 통해 해당 제품의 관리 페이지로 이동 하실수 있습니다.</p>
        <span flex></span>
    </div>

    <md-content>
        <md-button class="md-raised" href="#/frames"> 후렘 관리 </md-button>
        <md-button disabled class="md-raised" href="#/doors"> 문 관리 </md-button>
        <md-button disabled class="md-raised" href="#/customDoors"> 기성문 관리 </md-button>
        <md-button disabled class="md-raised" href="#/parts"> 부속품 관리 </md-button>
    </md-content>

</md-whiteframe>