<md-whiteframe class="md-whiteframe-3dp"
               style="max-width:1024px"
               layout="column" layout-align="center center">

    <div layout="row" flex layout-align="start center" style="width:100%">
        <div class="md-title"> 제품관리 </div>
        <span flex></span>
        <md-button>저장</md-button>
        <md-button>목록</md-button>
    </div>

    <md-content>
        <md-button href="#/frames"> 후렘 관리 </md-button>
        <md-button href="#/doors"> 문 관리 </md-button>
        <md-button href="#/customDoors"> 기성문 관리 </md-button>
        <md-button href="#/parts"> 부속품 관리 </md-button>
    </md-content>
</md-whiteframe>